n8n-workflows/workflow-2-processing.json
{
  "name": "Plum - Workflow 2: AI + Priority + Ownership",
  "nodes": [
    {
      "parameters": {},
      "id": "wf-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "You are an AI assistant for Plum Insurance's escalation management system. Analyze the following escalation message and return a JSON object with these exact fields:\n\n1. \"summary\" - A 2-3 line summary of the issue\n2. \"account_name\" - Company/account name if mentioned, else \"Unknown\"\n3. \"issue_type\" - One of: Claim Delayed, Claim Rejected, Policy Issuance, Onboarding Issue, Health ID Missing, Portal/Tech Issue, Cashless Failure, Reimbursement Delay, Premium Discrepancy, Endorsement Pending, Renewal Issue, Service Complaint, Training Request, Account Data Error, Network Hospital Issue, TPA Coordination, Document Issue, Billing/Invoice Issue, Coverage Query, General Inquiry\n4. \"action_needed\" - One of: Decision, Follow-up, Unblock, Acknowledgement, Investigation\n5. \"urgent\" - \"yes\" or \"no\"\n6. \"sentiment\" - \"angry\", \"frustrated\", \"neutral\", \"polite\"\n\nReturn ONLY valid JSON, no markdown.\n\nMessage:\n{{ $json.raw_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "ai-summarize",
      "name": "AI Summarization + Classification",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [420, 300],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\nlet aiResponse;\ntry {\n  const text = $input.first().json.message?.content || $input.first().json.text || '{}';\n  // Remove markdown code fences if present\n  const cleaned = text.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  aiResponse = JSON.parse(cleaned);\n} catch(e) {\n  aiResponse = {\n    summary: $input.first().json.raw_text?.substring(0, 200) || 'Could not parse',\n    account_name: 'Unknown',\n    issue_type: 'General Inquiry',\n    action_needed: 'Follow-up',\n    urgent: 'no',\n    sentiment: 'neutral'\n  };\n}\n\n// Carry forward original data\nconst original = $('Execute Workflow Trigger').first().json;\n\nreturn [{\n  json: {\n    ...original,\n    summary: aiResponse.summary,\n    account_name: aiResponse.account_name,\n    issue_type: aiResponse.issue_type,\n    action_needed: aiResponse.action_needed,\n    urgent: aiResponse.urgent,\n    sentiment: aiResponse.sentiment\n  }\n}];"
      },
      "id": "parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.raw_text || '';\nconst lowerText = text.toLowerCase();\n\nlet delay_score = 0;\n\n// Check for time-related delay indicators\nif (lowerText.includes('weeks') || lowerText.includes('month')) delay_score += 3;\nelse if (lowerText.includes('days')) delay_score += 2;\nelse if (lowerText.includes('hours')) delay_score += 1;\n\n// Check for frustration indicators\nif (lowerText.includes('multiple follow') || lowerText.includes('no response')) delay_score += 2;\nif (lowerText.includes('still pending') || lowerText.includes('still waiting')) delay_score += 2;\nif (lowerText.includes('legal') || lowerText.includes('irdai') || lowerText.includes('social media')) delay_score += 3;\nif (lowerText.includes('not renew') || lowerText.includes('reconsidering')) delay_score += 3;\n\nreturn [{ json: { ...$json, delay_score } }];"
      },
      "id": "delay-detection",
      "name": "Delay Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const accountName = ($json.account_name || '').toLowerCase();\n\n// Enterprise accounts (large companies)\nconst enterprise = ['tata', 'wipro', 'infosys', 'reliance', 'mahindra', 'airtel', 'hcl', 'godrej', 'larsen', 'asian paints', 'bajaj', 'hdfc', 'icici'];\nconst midMarket = ['zoho', 'freshworks', 'razorpay', 'policybazaar', 'lenskart', 'pharmeasy', 'urban company', 'swiggy', 'cred', 'meesho', 'zomato'];\n\nlet account_type = 'SME'; // default\nlet account_score = 20;\n\nfor (const name of enterprise) {\n  if (accountName.includes(name)) {\n    account_type = 'Enterprise';\n    account_score = 40;\n    break;\n  }\n}\nif (account_type === 'SME') {\n  for (const name of midMarket) {\n    if (accountName.includes(name)) {\n      account_type = 'Mid-Market';\n      account_score = 30;\n      break;\n    }\n  }\n}\n\nreturn [{ json: { ...$json, account_type, account_score } }];"
      },
      "id": "account-importance",
      "name": "Account Importance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "let score = 0;\n\n// Account size weight (max 40)\nscore += $json.account_score || 20;\n\n// Category urgency (max 30)\nconst urgentCategories = ['Cashless Failure', 'Claim Delayed', 'Health ID Missing', 'Claim Rejected', 'Renewal Issue'];\nconst highCategories = ['Reimbursement Delay', 'Policy Issuance', 'Onboarding Issue', 'TPA Coordination', 'Service Complaint'];\n\nif (urgentCategories.includes($json.issue_type)) score += 30;\nelse if (highCategories.includes($json.issue_type)) score += 20;\nelse score += 10;\n\n// Urgency from AI (max 10)\nif ($json.urgent === 'yes') score += 10;\n\n// Delay score (max 10)\nscore += Math.min($json.delay_score || 0, 10);\n\n// Sentiment bonus\nif ($json.sentiment === 'angry') score += 5;\nelse if ($json.sentiment === 'frustrated') score += 3;\n\n// Source weight\nif ($json.source === 'WhatsApp') score += 5;\nelse if ($json.source === 'Slack') score += 3;\n\nscore = Math.min(score, 100);\n\nlet priority = 'Low';\nif (score >= 75) priority = 'Critical';\nelse if (score >= 55) priority = 'High';\nelse if (score >= 35) priority = 'Medium';\n\nreturn [{ json: { ...$json, priority_score: score, priority } }];"
      },
      "id": "priority-scoring",
      "name": "Priority Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputIndex": 0,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.issue_type }}",
                    "rightValue": "Claim",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ]
              }
            },
            {
              "outputIndex": 1,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.issue_type }}",
                    "rightValue": "Policy",
                    "operator": { "type": "string", "operation": "contains" }
                  }
                ]
              }
            },
            {
              "outputIndex": 2,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "Critical",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": 3
        },
        "options": {}
      },
      "id": "assign-owner-switch",
      "name": "Route by Issue Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "owner", "name": "owner", "value": "Ipsita Sahu", "type": "string" }
          ]
        }
      },
      "id": "owner-claims",
      "name": "Owner: Claims Team",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 140]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "owner", "name": "owner", "value": "Manashi Das", "type": "string" }
          ]
        }
      },
      "id": "owner-ops",
      "name": "Owner: Ops Team",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "owner", "name": "owner", "value": "Avik Bhandari", "type": "string" }
          ]
        }
      },
      "id": "owner-senior",
      "name": "Owner: Senior Manager",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 460]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "owner", "name": "owner", "value": "Vaishnavi Bhat", "type": "string" }
          ]
        }
      },
      "id": "owner-default",
      "name": "Owner: Default",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 620]
    },
    {
      "parameters": {},
      "id": "merge-owners",
      "name": "Merge Owners",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "id", "name": "id", "value": "=ESC-{{ $now.format('yyyyMMddHHmmss') }}", "type": "string" },
            { "id": "title", "name": "title", "value": "={{ $json.summary?.substring(0, 80) || 'New Escalation' }}", "type": "string" },
            { "id": "summary", "name": "summary", "value": "={{ $json.summary }}", "type": "string" },
            { "id": "account_name", "name": "account_name", "value": "={{ $json.account_name }}", "type": "string" },
            { "id": "account_size", "name": "account_size", "value": "={{ $json.account_type }}", "type": "string" },
            { "id": "category", "name": "category", "value": "={{ $json.issue_type }}", "type": "string" },
            { "id": "source", "name": "source", "value": "={{ $json.source }}", "type": "string" },
            { "id": "priority", "name": "priority", "value": "={{ $json.priority }}", "type": "string" },
            { "id": "priority_score", "name": "priority_score", "value": "={{ $json.priority_score }}", "type": "number" },
            { "id": "status", "name": "status", "value": "Open", "type": "string" },
            { "id": "owner", "name": "owner", "value": "={{ $json.owner }}", "type": "string" },
            { "id": "action_needed", "name": "action_needed", "value": "={{ $json.action_needed }}", "type": "string" },
            { "id": "created_at", "name": "created_at", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "updated_at", "name": "updated_at", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "sla_deadline", "name": "sla_deadline", "value": "={{ $now.plus({hours: 48}).toISO() }}", "type": "string" },
            { "id": "sender_name", "name": "sender_name", "value": "={{ $json.sender_name }}", "type": "string" },
            { "id": "sender_email", "name": "sender_email", "value": "={{ $json.sender_email }}", "type": "string" },
            { "id": "raw_message", "name": "raw_message", "value": "={{ $json.raw_text }}", "type": "string" },
            { "id": "response_time", "name": "response_time", "value": "", "type": "string" },
            { "id": "resolution_time", "name": "resolution_time", "value": "", "type": "string" }
          ]
        }
      },
      "id": "create-record",
      "name": "Create Escalation Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "title", "displayName": "title" },
            { "id": "summary", "displayName": "summary" },
            { "id": "account_name", "displayName": "account_name" },
            { "id": "account_size", "displayName": "account_size" },
            { "id": "category", "displayName": "category" },
            { "id": "source", "displayName": "source" },
            { "id": "priority", "displayName": "priority" },
            { "id": "priority_score", "displayName": "priority_score" },
            { "id": "status", "displayName": "status" },
            { "id": "owner", "displayName": "owner" },
            { "id": "action_needed", "displayName": "action_needed" },
            { "id": "created_at", "displayName": "created_at" },
            { "id": "updated_at", "displayName": "updated_at" },
            { "id": "sla_deadline", "displayName": "sla_deadline" },
            { "id": "sender_name", "displayName": "sender_name" },
            { "id": "sender_email", "displayName": "sender_email" },
            { "id": "raw_message", "displayName": "raw_message" },
            { "id": "response_time", "displayName": "response_time" },
            { "id": "resolution_time", "displayName": "resolution_time" }
          ]
        },
        "options": {}
      },
      "id": "google-sheets-write",
      "name": "Store in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2420, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "channel": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "text": "=:rotating_light: *New Escalation Logged*\n\n*ID:* {{ $json.id }}\n*Account:* {{ $json.account_name }} ({{ $json.account_size }})\n*Priority:* {{ $json.priority }} (Score: {{ $json.priority_score }})\n*Category:* {{ $json.category }}\n*Owner:* {{ $json.owner }}\n*Action Needed:* {{ $json.action_needed }}\n*SLA Deadline:* {{ $json.sla_deadline }}\n\n*Summary:*\n{{ $json.summary }}\n\n*Source:* {{ $json.source }} | *Sender:* {{ $json.sender_name }}",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Owner on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2640, 200],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://plum-escalation-dashboard.vercel.app/api/escalations",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "id", "value": "={{ $json.id }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "accountName", "value": "={{ $json.account_name }}" },
            { "name": "accountSize", "value": "={{ $json.account_size }}" },
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "source", "value": "={{ $json.source }}" },
            { "name": "priority", "value": "={{ $json.priority }}" },
            { "name": "priorityScore", "value": "={{ $json.priority_score }}" },
            { "name": "status", "value": "Open" },
            { "name": "owner", "value": "={{ $json.owner }}" },
            { "name": "actionNeeded", "value": "={{ $json.action_needed }}" },
            { "name": "senderName", "value": "={{ $json.sender_name }}" },
            { "name": "senderEmail", "value": "={{ $json.sender_email }}" },
            { "name": "rawMessage", "value": "={{ $json.raw_message }}" }
          ]
        },
        "options": {}
      },
      "id": "push-to-dashboard",
      "name": "Push to Dashboard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"logged\",\n  \"id\": \"{{ $json.id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"owner\": \"{{ $json.owner }}\"\n}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "AI Summarization + Classification", "type": "main", "index": 0 }]] },
    "AI Summarization + Classification": { "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]] },
    "Parse AI Response": { "main": [[{ "node": "Delay Detection", "type": "main", "index": 0 }]] },
    "Delay Detection": { "main": [[{ "node": "Account Importance", "type": "main", "index": 0 }]] },
    "Account Importance": { "main": [[{ "node": "Priority Scoring", "type": "main", "index": 0 }]] },
    "Priority Scoring": { "main": [[{ "node": "Route by Issue Type", "type": "main", "index": 0 }]] },
    "Route by Issue Type": {
      "main": [
        [{ "node": "Owner: Claims Team", "type": "main", "index": 0 }],
        [{ "node": "Owner: Ops Team", "type": "main", "index": 0 }],
        [{ "node": "Owner: Senior Manager", "type": "main", "index": 0 }],
        [{ "node": "Owner: Default", "type": "main", "index": 0 }]
      ]
    },
    "Owner: Claims Team": { "main": [[{ "node": "Merge Owners", "type": "main", "index": 0 }]] },
    "Owner: Ops Team": { "main": [[{ "node": "Merge Owners", "type": "main", "index": 0 }]] },
    "Owner: Senior Manager": { "main": [[{ "node": "Merge Owners", "type": "main", "index": 0 }]] },
    "Owner: Default": { "main": [[{ "node": "Merge Owners", "type": "main", "index": 0 }]] },
    "Merge Owners": { "main": [[{ "node": "Create Escalation Record", "type": "main", "index": 0 }]] },
    "Create Escalation Record": { "main": [[{ "node": "Store in Google Sheets", "type": "main", "index": 0 }]] },
    "Store in Google Sheets": { "main": [[{ "node": "Notify Owner on Slack", "type": "main", "index": 0 }, { "node": "Push to Dashboard API", "type": "main", "index": 0 }]] },
    "Notify Owner on Slack": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Push to Dashboard API": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "Plum Escalation" }]
}
