n8n-workflows/workflow-3-nudges.json
{
  "name": "Plum - Workflow 3: SLA Nudges & Tracking",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "cron-trigger",
      "name": "Every 1 Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "options": {}
      },
      "id": "fetch-sheets",
      "name": "Fetch All Escalations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "Closed",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "filter-open",
      "name": "Filter: Not Closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst created = new Date($json.created_at);\nconst slaDeadline = new Date($json.sla_deadline);\n\nconst hoursOpen = Math.round((now - created) / (1000 * 60 * 60));\nconst hoursUntilSLA = Math.round((slaDeadline - now) / (1000 * 60 * 60));\nconst isSLABreached = now > slaDeadline;\n\nlet urgency_level = 'normal';\nif (isSLABreached && hoursOpen > 72) urgency_level = 'critical';\nelse if (isSLABreached) urgency_level = 'breached';\nelse if (hoursUntilSLA < 4) urgency_level = 'warning';\n\nreturn [{ json: { \n  ...$json, \n  hours_open: hoursOpen, \n  hours_until_sla: hoursUntilSLA,\n  is_sla_breached: isSLABreached,\n  urgency_level \n} }];"
      },
      "id": "calc-time",
      "name": "Calculate Time Open & SLA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 260]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputIndex": 0,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency_level }}",
                    "rightValue": "critical",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputIndex": 1,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency_level }}",
                    "rightValue": "breached",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputIndex": 2,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency_level }}",
                    "rightValue": "warning",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": 3
        },
        "options": {}
      },
      "id": "urgency-switch",
      "name": "Route by Urgency",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1100, 260]
    },
    {
      "parameters": {
        "channel": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "text": "=:fire: *CRITICAL SLA BREACH*\n\nEscalation *{{ $json.id }}* has been open for *{{ $json.hours_open }} hours*!\n\n*Account:* {{ $json.account_name }}\n*Priority:* {{ $json.priority }}\n*Owner:* {{ $json.owner }}\n*Status:* {{ $json.status }}\n*Summary:* {{ $json.summary }}\n\n:warning: This requires immediate VP attention. @channel",
        "otherOptions": {}
      },
      "id": "notify-critical",
      "name": "Alert: Critical (VP + Channel)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1340, 100],
      "credentials": {
        "slackApi": { "id": "", "name": "Slack Account" }
      }
    },
    {
      "parameters": {
        "channel": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "text": "=:rotating_light: *SLA Breached*\n\nEscalation *{{ $json.id }}* is past SLA deadline.\n\n*Account:* {{ $json.account_name }}\n*Hours Open:* {{ $json.hours_open }}h\n*Owner:* {{ $json.owner }}\n*Status:* {{ $json.status }}\n\nPlease take action immediately.",
        "otherOptions": {}
      },
      "id": "notify-breached",
      "name": "Alert: SLA Breached",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1340, 260],
      "credentials": {
        "slackApi": { "id": "", "name": "Slack Account" }
      }
    },
    {
      "parameters": {
        "channel": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "text": "=:warning: *SLA Warning*\n\nEscalation *{{ $json.id }}* will breach SLA in *{{ $json.hours_until_sla }} hours*.\n\n*Account:* {{ $json.account_name }}\n*Owner:* {{ $json.owner }}\n*Status:* {{ $json.status }}\n\nPlease prioritize this.",
        "otherOptions": {}
      },
      "id": "notify-warning",
      "name": "Alert: SLA Warning",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1340, 420],
      "credentials": {
        "slackApi": { "id": "", "name": "Slack Account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate daily summary stats\nconst items = $input.all();\nconst total = items.length;\nconst critical = items.filter(i => i.json.urgency_level === 'critical').length;\nconst breached = items.filter(i => i.json.is_sla_breached).length;\nconst onTrack = total - breached;\n\nreturn [{ json: {\n  total_active: total,\n  critical_count: critical,\n  breached_count: breached,\n  on_track_count: onTrack,\n  sla_compliance_pct: total > 0 ? Math.round((onTrack / total) * 100) : 100,\n  checked_at: new Date().toISOString()\n} }];"
      },
      "id": "daily-summary",
      "name": "Generate Summary Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 580]
    }
  ],
  "connections": {
    "Every 1 Hour": { "main": [[{ "node": "Fetch All Escalations", "type": "main", "index": 0 }]] },
    "Fetch All Escalations": { "main": [[{ "node": "Filter: Not Closed", "type": "main", "index": 0 }]] },
    "Filter: Not Closed": { "main": [[{ "node": "Calculate Time Open & SLA", "type": "main", "index": 0 }], []] },
    "Calculate Time Open & SLA": { "main": [[{ "node": "Route by Urgency", "type": "main", "index": 0 }]] },
    "Route by Urgency": {
      "main": [
        [{ "node": "Alert: Critical (VP + Channel)", "type": "main", "index": 0 }],
        [{ "node": "Alert: SLA Breached", "type": "main", "index": 0 }],
        [{ "node": "Alert: SLA Warning", "type": "main", "index": 0 }],
        [{ "node": "Generate Summary Stats", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "Plum Escalation" }]
}
